*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.linha{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
}

.linha .branca{
    display: flex;
    width: 60px;
    height: 60px;
    color: #fff;
    border-style: solid;
    border-color: brown;  
    border-width: 2px; 
    align-items: center;
    justify-content: center;   
}

.linha .preta{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #46290e;
    border-style: solid;
    border-color: brown;
    border-width: 2px;
    align-items: center;
    justify-content: center;
}

.linha .indice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 61px;
    border-style: solid;
    border-color: rgb(0, 4, 255);
    border-left: 2px;
    border-bottom: 1px;
}

.linha button{
    background-color: transparent;
    border: none;
}

.linha #pd2{
    width: 50px;
    height: 50px;
}
